.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.index-cards {
  display: flex;

}

.SolarCard {

}

.ui-sortNsearch {
  display: flex;
  margin: auto;

}



#splash {
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  background-color: #09265c;
  color: #d1e1ff;
}
.clock {
  height: 5vh;
}
.homepage-splash {
  width: 100%;
  height: 68vh;
  background-color: black;
}

.home-page-description {
  height: 15vh;
}

.ObjectContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 20px;
  background-color: #09265c;
  flex-direction: column;

}

.ObjectDetailsContainer {
  display: flex;
  /* margin: 25px 50px 75px 100px; */
  padding: 25px 50px 75px 100px;
  border: 2px solid black;
  background-color: #29406b;
  color: #d1e1ff;
}

.quizContainer {
  display: flex;

}

.ObjectCommentContainer {
  display: flex;
  align-self: stretch;
  width: 50vw;
  height: 50vh;
  padding: 20px;


}

.SolarSystemCollection {
  background-color: #09265c;
  color: #d1e1ff;
}
