.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.index-cards {

}

.ui-grid {
  display: flex;
  margin: auto;
}



#splash {
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  background-color: #09265c;
  color: #d1e1ff;
}
.clock {
  height: 5vh;
}
.homepage-splash {
  width: 100%;
  height: 68vh;
  background-color: black;
}

.home-page-description {
  height: 15vh;
}

.ObjectContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 20px;

}
.ObjectDetailsContainer {
  display: flex;
  /* margin: 25px 50px 75px 100px; */
  padding: 25px 50px 75px 100px;
  border: 1px solid black;
}

.quizContainer {
  display: flex;

}

.ObjectCommentContainer {
  display: flex;
  padding: 20px;


}
