.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.index-cards {

}

.ui-grid {
  display: flex;
  margin: auto;
}



#splash {
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
}
.clock {
  height: 5vh;
}
.homepage-splash {
  width: 100%;
  height: 68vh;
  background-color: black;
}

.home-page-description {
  height: 15vh;
}

.ObjectContainer {
  display: flex;

}
.ObjectDetailsContainer {
  display: flex;
}
